.main{
    display: flex;
    margin: 50px;
}
.main-div1{
    border-radius: 10px;
    height: 210px;
    width: 310px;
    background-color: white;
    border: 0.5px solid rgb(57, 56, 56);
    margin-left: 50px;
  
    /* display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap; */

}
.main-div3{
    height: 500px;
    width: 500px;
    margin-left: 20px;
   

}
@media (max-width: 600px) {
    .main-div1 {
     height: 400px;
    }
  }

.div1{
    height: 25px;
    margin: 5px;
    width: 299px;
    background-color: white;
    font-size: x-small;
     text-align: left;
     padding: 7px;
    
    
}

.div2{
    text-align: center;
    background-color: #fff;
    width: 299px;
    height: 30px;
    margin: 0px;
    padding: 7px;
    font-size: x-small;
    font-size: xx-small;
    font-weight: 800;
    
}

.main-div2{
    padding: 2px;
    display: flex;
   justify-content: space-evenly;
    width: 299px;
    height: 138px;
    background-color: white;

}

.div3{
   
    height: 130px;
    width: 130px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  

    background-color: rgb(238, 232, 232);
}

.div3:hover{
    background-color: rgb(227, 155, 129);
    color: white;
}
.div3 p{
  text-align: center;
  margin-top:50px ;
  font-size: small;
}


.charts1{
    height: 500px;
    width: 500px;
}
